.about {
  display: none;
  background: $Light-grey;
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;

  &::before {
    width: 305px;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    z-index: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img-block {
    width: calc((100% / 12) * 6);
    border-radius: 40px;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;

  }
  img {
    width: 100%;
    object-fit: cover;
  }
  &__text-block {
    width: calc(((100% / 12) * 5) - 20px);
    margin-left: calc(100% / 12);
    height: 560px;
    padding-top: 58px;
    position: relative;
    z-index: 1;
  }
  &__category {
    @include category;
    margin-bottom: 18px;
  }
  &__title {
    @include title;
    margin-bottom: 28px;
  }
  &__slogan {
    @include text-mini($color: #333333);
    margin-bottom: 34px;
  }
  &__subtext {
    @include subtext;
    margin-bottom: 32px;
  }
  &__button {
    @include button;
  }
  &__deco {
    position: absolute;
    right: 33px;
    top: 33px;
    z-index: -1;
  }
}
