.header {
  background: #6b5cf6;
  padding-bottom: 96px;
  padding-top: 128px;
  overflow: hidden;

  &__deco1 {
    position: absolute;
    left: 0;
    top: 88px;
  }
  &__deco2 {
    position: absolute;
    right: -29px;
    bottom: 56px;
  }
  .arrows {
    background: #ffffff;
    mix-blend-mode: normal;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    position: absolute;
    left: 0;
    &--prev {
      bottom: 144px;
    }
    &--next {
      bottom: 80px;
       .arrows-svg-next {
        transform: rotate(180deg);
       }
    }
  }
}
@media screen and (min-width:560px) and (max-width:768px) {
  
  .container {
    position: relative;
  }
  .header{
    .arrows {
    position: absolute;
    bottom: 22px;
    &--prev {
      left: 0;
    }
    &--next {
      left: 78px;
    }
  }
  }
  
}