.rotator {
  margin: 0 auto;
  width: calc((100% / 12) * 10);
  &__slide {
    width: 100%;
    margin: 0 auto;
    padding: 64px 84px 80px 100px;
    overflow: hidden;
    border-radius: 65px;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  }
  &__slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 126px;
  }
  &__slide-tag {
    @include tag;
  }
  .social {
    width: 160px;
    height: 48px;
    display: flex;
    a {
      margin: auto;
    }

    &__link {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      mix-blend-mode: normal;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      margin-left: 8px;
    }
  }
  &__slide-title {
    font-family: $RHD;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 26px;
    width: calc((100% / 10) * 9);
  }
  &__slide-name {
    @include text-mini;
    margin-bottom: 72px;
  }
  &__slide-button {
    background: #95d354;
    border-radius: 24px;
    width: 106px;
    height: 48px;
    font-family: $RHT;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    &:hover {
      background: #55a85a;
    }
    &:active {
      background: cornsilk;
    }
  }
  &__video-button {
    width: 112px;
    height: 112px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 64px;
    right: 68px;

    img {
      width: 24px;
      height: 20px;
      margin: 44px 44px 44px 50px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .rotator {
    width: calc((100% / 12) * 11);
    margin-right: 0;
  }
}
@media screen and (min-width: 560px) and (max-width: 768px) {
  .rotator {
    width: 100%;
    height: 565px;
    &__slide {
      padding: 64px 39px 80px 48px;
    }
    &__slide-title {
      width: 100%;
      font-size: 68px;
      line-height: 72px;
    }
  }
  .container {
    position: relative;
  }
  .arrows {
    position: absolute;
    bottom: 22px;
    &--prev {
      left: 0;
    }
    &--next {
      left: 78px;
    }
  }
}
