.nav {
  background: #6b5cf6;
  padding-bottom: 28px;
  padding-top: 28px;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  width: 85px;
  height: 48px;
}

.nav__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.nav__form {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  width: 570px;
  height: 48px;
  padding-left: 24px;
  position: relative;
  z-index: 0;
}

.nav__input {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  width: 498px;
  height: 48px;
  border: 1px solid #ffffff;
}

.nav__input:focus {
  outline-color: #6b5cf6;
}

.nav__button {
  width: 48px;
  height: 48px;
  background: #95d354;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.nav__button:hover {
  background: #55a85a;
}

.nav__button:active {
  background: cornsilk;
}

.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .nav__form {
    width: calc((100% / 12) * 7);
  }
  .nav__input {
    width: 100%;
  }
}

.header {
  background: #6b5cf6;
  padding-bottom: 96px;
  padding-top: 128px;
  overflow: hidden;
}

.header__deco1 {
  position: absolute;
  left: 0;
  top: 88px;
}

.header__deco2 {
  position: absolute;
  right: -29px;
  bottom: 56px;
}

.header .arrows {
  background: #ffffff;
  mix-blend-mode: normal;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  position: absolute;
  left: 0;
}

.header .arrows--prev {
  bottom: 144px;
}

.header .arrows--next {
  bottom: 80px;
}

.header .arrows--next .arrows-svg-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
  }
  .header .arrows {
    position: absolute;
    bottom: -74px;
    margin-bottom: 0;
  }
  .header .arrows--prev {
    left: 0;
  }
  .header .arrows--next {
    left: 78px;
  }
}

.rotator {
  margin: 0 auto;
  width: calc((100% / 12) * 10);
}

.rotator__slide {
  width: 100%;
  margin: 0 auto;
  padding: 64px 84px 80px 100px;
  overflow: hidden;
  border-radius: 65px;
  height: 656px;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.rotator__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.rotator__slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.rotator__nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rotator__slide-tag {
  background: #50c4ee;
  border-radius: 24px;
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 2px 12px 2px 12px;
}

.rotator .social {
  width: 160px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rotator .social a {
  margin: auto;
}

.rotator .social__link {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: normal;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 8px;
}

.rotator__slide-title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: #ffffff;
  width: calc((100% / 10) * 9);
}

.rotator__slide-name {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
}

.rotator__slide-button {
  background: #95d354;
  border-radius: 24px;
  width: 106px;
  height: 48px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.rotator__slide-button:hover {
  background: #55a85a;
}

.rotator__slide-button:active {
  background: cornsilk;
}

.rotator__video-button {
  width: 112px;
  height: 112px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: 64px;
  right: 68px;
}

.rotator__video-button img {
  width: 24px;
  height: 20px;
  margin: 44px 44px 44px 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .rotator {
    width: calc((100% / 12) * 11);
    margin-right: 0;
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .rotator {
    width: 100%;
  }
  .rotator__slide {
    padding: 64px 39px 80px 48px;
  }
  .rotator__slide-title {
    width: 100%;
    font-size: 68px;
    line-height: 72px;
  }
  .container {
    position: relative;
  }
}

@media screen and (max-width: 560px) {
  .rotator {
    width: 100%;
  }
  .rotator__slide-title {
    font-size: 56px;
    line-height: 64px;
    margin: 0 auto;
    width: 100%;
  }
  .rotator__slide {
    padding-left: 30px;
    padding-right: 55px;
  }
}

.benefits {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 86px;
}

.benefits .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__block {
  width: calc(((100% / 12) * 3) - 20px);
  margin-left: calc((100% / 12) * 1);
}

.benefits__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F1F0FF;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-bottom: 23px;
}

.benefits__title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 19px;
}

.benefits__subtext {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-bottom: 16px;
}

.benefits__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}

.benefits__link img {
  width: 17px;
  height: 6px;
  margin-left: 9px;
  padding-top: 3px;
}

@media screen and (max-width: 1200px) and (min-width: 300px) {
  .benefits .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefits__block {
    margin-left: 0;
    width: calc((100% / 12) * 4);
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .benefits__title {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (max-width: 560px) {
  .benefits .container {
    display: block;
  }
  .benefits__block {
    margin-bottom: 54px;
    width: calc((100% / 12) * 9);
  }
}

.about {
  background: #F1F0FF;
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}

.about::before {
  width: 20%;
  max-width: 305px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  z-index: 0;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img-block {
  width: calc((100% / 12) * 6);
  border-radius: 40px;
  overflow: hidden;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about img {
  width: 100%;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text-block {
  width: calc(((100% / 12) * 5) - 20px);
  margin-left: calc(100% / 12);
  height: 560px;
  padding-top: 58px;
  position: relative;
  z-index: 1;
}

.about__category {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 18px;
}

.about__title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 28px;
}

.about__slogan {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 34px;
}

.about__subtext {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-bottom: 32px;
}

.about__button {
  width: 170px;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #6b5cf6;
}

.about__button:hover {
  background: lightgray;
}

.about__button:active {
  background: cornsilk;
}

.about__deco {
  position: absolute;
  right: 33px;
  top: 33px;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .about__text-block {
    margin-left: 20px;
    width: calc(((100% / 12) * 6) - 20px);
  }
  .about__deco {
    right: -10px;
  }
}

@media screen and (max-width: 768px) {
  .about__title {
    font-size: 40px;
    line-height: 48px;
  }
  .about__subtext {
    margin-bottom: 70px;
  }
  .about__button {
    width: 207px;
  }
}

@media screen and (max-width: 560px) {
  .about .container {
    display: block;
  }
  .about__text-block {
    margin-left: 0;
    width: 100%;
  }
  .about::before {
    width: 100%;
    max-width: 100%;
    height: 192px;
    top: 0;
    left: 0;
    right: 0;
  }
  .about__img-block {
    width: 100%;
  }
  .about__img-block img {
    width: 100%;
    height: 340px;
  }
}

.service {
  background: #ffffff;
  padding-top: 74px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}

.service__category {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
}

.service__title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  text-align: center;
  margin-bottom: 52px;
}

.service__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 64px;
}

.service__nav-wraper {
  background: #f1f0ff;
  border-radius: 24px;
  overflow: hidden;
}

.service__nav-button {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  padding: 7px 16px 7px 16px;
  background-color: #f1f0ff;
  border: 1px solid #f1f0ff;
}

.service__nav-button:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  font-weight: 700;
  color: #6b5cf6;
}

.service__block-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 480px 480px;
      grid-template-rows: 480px 480px;
  -ms-grid-columns: (370px)[3];
      grid-template-columns: repeat(3, 370px);
  grid-gap: 30px;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}

.service__block {
  background: #f1f0ff;
  border-radius: 20px;
}

.service__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 304px;
  position: relative;
  z-index: 2;
}

.service__img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  height: 304px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.service__tag {
  background: #50c4ee;
  border-radius: 24px;
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 2px 12px 2px 12px;
  margin-top: 36px;
  margin-left: 32px;
  position: relative;
  z-index: 1;
}

.service__tag--pink {
  background: #ee71c7;
}

.service__tag--lilac {
  background: #9177f5;
}

.service__tag--violet {
  background: #5c4ceb;
}

.service__tag--green {
  background: #95d354;
}

.service__tag--purple {
  background: #603dbb;
}

.service__text-block {
  width: 100%;
  border-radius: 20px;
  margin-top: 23px;
  margin-bottom: 38px;
}

.service__subtitle {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 3px;
  margin-left: 32px;
}

.service__name {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 16px;
  margin-left: 32px;
}

.service__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.service__count {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
}

.service__price {
  background: #95d354;
  border-radius: 24px;
  width: 90px;
  height: 48px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.service__price:hover {
  background: #55a85a;
}

.service__price:active {
  background: cornsilk;
}

.service__button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__button {
  width: 170px;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #6b5cf6;
}

.service__button:hover {
  background: lightgray;
}

.service__button:active {
  background: cornsilk;
}

.service__deco {
  width: 176px;
  height: 176px;
  position: absolute;
  bottom: 152px;
  right: -68px;
  z-index: 0;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .service__block-section {
    -ms-grid-rows: 480px 480px;
        grid-template-rows: 480px 480px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .service__titile {
    font-size: 56px;
    line-height: 64px;
  }
  .service__subtitle {
    font-size: 20px;
    line-height: 32px;
    width: calc(100% - (32px * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 900px) and (min-width: 560px) {
  .service__block-section {
    -ms-grid-rows: 480px 480px 480px;
        grid-template-rows: 480px 480px 480px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .service__title {
    font-size: 40px;
    line-height: 64px;
  }
  .service__subtitle {
    max-width: 200px;
    width: calc(100% - (32px * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    line-height: 32px;
  }
  .service__nav {
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .service__block-section {
    display: block;
    width: 100%;
  }
  .service__title {
    font-size: 40px;
    line-height: 64px;
  }
  .service__subtitle {
    width: calc(100% - (32px * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    line-height: 32px;
  }
  .service__nav {
    width: 80%;
    text-align: center;
  }
  .service__text-block {
    padding-bottom: 32px;
  }
}

.features {
  background: #F1F0FF;
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}

.features::before {
  width: 20%;
  max-width: 305px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: "";
  z-index: 0;
}

.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img-block {
  width: calc((100% / 12) * 6);
  position: relative;
  z-index: 2;
}

.features__img-main {
  width: 100%;
  height: 560px;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.features__deco {
  position: absolute;
  top: 124px;
  right: -72px;
  z-index: 1;
}

.features__text-block {
  width: calc((100% / 12) * 5);
}

.features__category {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 18px;
}

.features__title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 28px;
}

.features__slogan {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 34px;
}

.features__subtext {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-bottom: 32px;
}

.features__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__flex--margin {
  margin-bottom: 48px;
}

.features__flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96px;
  height: 96px;
  background: #ffffff;
  border-radius: 50%;
  margin-left: -8px;
}

.features__flex-text {
  width: calc(((100% / 5) * 4) - 28px);
}

.features__flex-subtitle {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 3px;
}

.features__flex-subtext {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .features__text-block {
    width: calc(((100% / 12) * 5) + 20px);
  }
}

@media screen and (max-width: 768px) and (min-width: 560px) {
  .features__text-block {
    width: calc((100% / 12) * 6);
  }
  .features__title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media screen and (max-width: 560px) {
  .features {
    overflow: hidden;
  }
  .features .container {
    display: block;
  }
  .features::before {
    display: none;
  }
  .features__text-block {
    width: 100%;
    margin-bottom: 46px;
  }
  .features__img-block {
    width: 100%;
    height: 340px;
  }
  .features__deco {
    top: 804px;
    right: -12px;
  }
}

.footer {
  background: #6b5cf6;
  padding-top: 74px;
  padding-bottom: 38px;
}

.footer__top, .footer__low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 65px;
}

.footer__info, .footer__form-container {
  width: calc((100% / 12) * 4);
}

.footer__menu {
  width: calc((100% / 12) * 3);
}

.footer__logo {
  width: 85px;
  height: 48px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer__text-info {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
  padding-right: 10px;
  margin-bottom: 17px;
}

.footer__title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer__list {
  list-style-type: none;
}

.footer__item a {
  text-decoration: none;
  display: block;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer__form {
  width: 100%;
}

.footer__input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-bottom: 16px;
}

.footer__button {
  width: 170px;
  height: 48px;
  background: #95D354;
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.footer__button:hover {
  background: #55a85a;
}

.footer__button:active {
  background: cornsilk;
}

.footer__low {
  padding-top: 40px;
  padding-bottom: 38px;
}

.footer__copyright {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}

.footer__privacy {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .footer__menu {
    width: calc((100% / 12) * 4);
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "info info" "menu form-container";
  }
  .footer__info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: info;
  }
  .footer__menu {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: menu;
  }
  .footer__form-container {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: form-container;
  }
  .footer__info {
    width: 100%;
    margin-bottom: 53px;
  }
  .footer__menu {
    width: 100%;
  }
  .footer__form-container {
    width: 100%;
  }
  .footer__copyright {
    width: 50%;
  }
  .footer__low-links {
    width: 50%;
    text-align: right;
  }
  .footer__low-links a {
    white-space: nowrap;
  }
}

@media screen and (max-width: 500px) {
  .footer__top {
    display: block;
  }
  .footer__low {
    display: block;
  }
  .footer__info {
    width: 100%;
    margin-bottom: 58px;
  }
  .footer__menu {
    width: 100%;
    margin-bottom: 48px;
  }
  .footer__form-container {
    width: 100%;
  }
  .footer__low {
    width: 100%;
    text-align: center;
  }
}

.burger {
  background: #F1F0FF;
  padding-top: 38px;
  padding-bottom: 108px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}

.burger--close {
  top: -1000px;
}

.burger__container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.burger__close {
  background: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

.burger__container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.burger__teachers {
  width: calc((100% / 12) * 3);
  margin-left: calc(100% / 12);
}

.burger__img {
  width: 48px;
  height: 48px;
  margin-bottom: 47px;
}

.burger__link {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.burger__link img {
  margin-left: 19px;
}

.burger__list {
  list-style-type: none;
}

.burger__item a {
  text-decoration: none;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-bottom: 10px;
}

.burger__courses {
  width: calc((100% / 12) * 4);
}

.burger__learning {
  width: calc((100% / 12) * 3);
  margin-right: calc(100% / 12);
}

.burger__form {
  display: block;
  width: 100%;
  max-width: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

.burger__input {
  display: block;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  padding-left: 24px;
  margin-bottom: 16px;
}

.burger__button {
  width: 170px;
  height: 48px;
  background: #95D354;
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.burger__button:hover {
  background: #55a85a;
}

.burger__button:active {
  background: cornsilk;
}

.burger__deco1 {
  position: absolute;
  top: 67px;
  left: -88px;
}

.burger__deco2 {
  position: absolute;
  bottom: -70px;
  right: 29px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .burger__deco1 {
    display: none;
  }
  .burger__teachers {
    margin-left: 0;
  }
  .burger__container-bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 800px) and (min-width: 560px) {
  .burger__deco1 {
    display: none;
  }
  .burger__teachers {
    margin-left: 0;
    width: calc((100% / 3) - 40px);
  }
  .burger__courses {
    margin-left: 0;
    width: calc((100% / 3) - 40px);
  }
  .burger__learning {
    margin-left: 0;
    width: calc((100% / 3) - 40px);
  }
  .burger__container-bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger a img {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .burger {
    padding-top: 31px;
    padding-bottom: 50px;
    height: calc(100% - 31px - 50px);
    position: fixed;
    overflow: scroll;
  }
  .burger__deco1 {
    display: none;
  }
  .burger__deco2 {
    display: none;
  }
  .burger__container-bottom {
    display: block;
  }
  .burger__teachers {
    margin-left: 0;
    width: 100%;
  }
  .burger__courses {
    margin-left: 0;
    width: 100%;
    margin-bottom: 26px;
  }
  .burger__learning {
    margin-left: 0;
    width: 100%;
  }
  .burger__container-bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger a img {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.social {
  width: 160px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social a {
  margin: auto;
}

.social__link {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: normal;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: calc(100% - (2 * 27px));
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - (2 * 14px));
  }
}
/*# sourceMappingURL=style.css.map */