@import './var/_index.scss';
@import './mixin/_index.scss';
@import './section/_nav.scss';
@import './section/_header.scss';
@import './section/_rotator.scss';
@import './section/_benefits.scss';
@import './section/_about.scss';
@import './section/_service.scss';
@import './section/_features.scss';
@import './section/_footer.scss';
@import './section/_burger.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.social {
    width: 160px;
    height: 48px;
    display: flex;
    a {
      margin: auto;
    }

    &__link {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      mix-blend-mode: normal;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      margin-left: 8px;
    }
}
@media screen and (min-width:768px) and (max-width:1200px) {
  .container {
    width: calc(100% - (2 * 27px));
  }
}
@media screen and (max-width:768px) {
  .container {
    width: calc(100% - (2 * 14px));
  }
}
