.nav {
  background: #6b5cf6;
  padding-bottom: 28px;
  padding-top: 28px;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  width: 85px;
  height: 48px;
}

.nav__form {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  width: 570px;
  height: 48px;
  padding-left: 24px;
  position: relative;
  z-index: 0;
}

.nav__input {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  width: 498px;
  height: 48px;
  border: 1px solid #ffffff;
}

.nav__input:focus {
  outline-color: #6b5cf6;
}

.nav__button {
  width: 48px;
  height: 48px;
  background: #95d354;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.nav__button:hover {
  background: #55a85a;
}

.nav__button:active {
  background: cornsilk;
}

.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.header {
  background: #6b5cf6;
  padding-bottom: 96px;
  padding-top: 128px;
}

.header__deco1 {
  position: absolute;
  left: 0;
  top: 88px;
}

.header__deco2 {
  position: absolute;
  right: -29px;
  bottom: 56px;
}

.header .arrows {
  background: #ffffff;
  mix-blend-mode: normal;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  position: absolute;
  left: 0;
}

.header .arrows--prev {
  bottom: 144px;
}

.header .arrows--next {
  bottom: 80px;
}

.header .arrows--next .arrows-svg-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rotator {
  margin: 0 auto;
}

.rotator__slide {
  width: calc((100% / 12) * 10);
  margin: 0 auto;
  padding: 64px 84px 80px 100px;
  overflow: hidden;
  border-radius: 65px;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.rotator__slide-img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.rotator__nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 126px;
}

.rotator__slide-tag {
  background: #50c4ee;
  border-radius: 24px;
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 2px 12px 2px 12px;
}

.rotator .social {
  width: 160px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rotator .social a {
  margin: auto;
}

.rotator .social__link {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: normal;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 8px;
}

.rotator__slide-title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: #ffffff;
  margin-bottom: 26px;
  width: calc((100% / 10) * 9);
}

.rotator__slide-name {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 72px;
}

.rotator__slide-button {
  background: #95d354;
  border-radius: 24px;
  width: 106px;
  height: 48px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.rotator__slide-button:hover {
  background: #55a85a;
}

.rotator__slide-button:active {
  background: cornsilk;
}

.rotator__video-button {
  width: 112px;
  height: 112px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: 64px;
  right: 68px;
}

.rotator__video-button img {
  width: 24px;
  height: 20px;
  margin: 44px 44px 44px 50px;
}

.benefits {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 86px;
}

.benefits .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__block {
  width: calc(((100% / 12) * 3) - 20px);
  margin-left: calc((100% / 12) * 1);
}

.benefits__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F1F0FF;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-bottom: 23px;
}

.benefits__title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 19px;
}

.benefits__subtext {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-bottom: 16px;
}

.benefits__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}

.benefits__link img {
  width: 17px;
  height: 6px;
  margin-left: 9px;
  padding-top: 3px;
}

.about {
  background: #F1F0FF;
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}

.about::before {
  width: 305px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  z-index: 0;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img-block {
  width: calc((100% / 12) * 6);
  border-radius: 40px;
  overflow: hidden;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text-block {
  width: calc(((100% / 12) * 5) - 20px);
  margin-left: calc(100% / 12);
  height: 560px;
  padding-top: 58px;
  position: relative;
  z-index: 1;
}

.about__category {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 18px;
}

.about__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 28px;
}

.about__slogan {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 34px;
}

.about__subtext {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-bottom: 32px;
}

.about__button {
  width: 170px;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #6b5cf6;
}

.about__button:hover {
  background: lightgray;
}

.about__button:active {
  background: cornsilk;
}

.about__deco {
  position: absolute;
  right: 33px;
  top: 33px;
  z-index: -1;
}

.service {
  background: #ffffff;
  padding-top: 74px;
  padding-bottom: 80px;
}

.service__category {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
}

.service__title {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #333333;
  margin-bottom: 52px;
}

.service__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 64px;
}

.service__nav-wraper {
  background: #f1f0ff;
  border-radius: 24px;
  overflow: hidden;
}

.service__nav-button {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  padding: 7px 16px 7px 16px;
  background-color: #f1f0ff;
  border: 1px solid #f1f0ff;
}

.service__nav-button:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  font-weight: 700;
  color: #6b5cf6;
}

.service__block-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 480px 480px;
      grid-template-rows: 480px 480px;
  -ms-grid-columns: (370px)[3];
      grid-template-columns: repeat(3, 370px);
  grid-gap: 30px;
  margin-bottom: 80px;
}

.service__block {
  background: #f1f0ff;
  border-radius: 20px;
}

.service__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 304px;
  position: relative;
  z-index: 2;
}

.service__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 304px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.service__tag {
  background: #50c4ee;
  border-radius: 24px;
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 2px 12px 2px 12px;
  margin-top: 36px;
  margin-left: 32px;
  position: relative;
  z-index: 1;
}

.service__tag--pink {
  background: #ee71c7;
}

.service__tag--lilac {
  background: #9177f5;
}

.service__tag--violet {
  background: #5c4ceb;
}

.service__tag--green {
  background: #95d354;
}

.service__tag--purple {
  background: #603dbb;
}

.service__text-block {
  width: 100%;
  background: #f1f0ff;
  border-radius: 20px;
  margin-top: 23px;
  margin-bottom: 38px;
}

.service__subtitle {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 3px;
  margin-left: 32px;
}

.service__name {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 16px;
  margin-left: 32px;
}

.service__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.service__count {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
}

.service__price {
  background: #95d354;
  border-radius: 24px;
  width: 90px;
  height: 48px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.service__price:hover {
  background: #55a85a;
}

.service__price:active {
  background: cornsilk;
}

.service__button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__button {
  width: 170px;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #6b5cf6;
}

.service__button:hover {
  background: lightgray;
}

.service__button:active {
  background: cornsilk;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
/*# sourceMappingURL=style.css.map */